
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2? familia= Cormorán+SC:peso@300 &familia= Roboto:peso@300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=M+PLUS+1p:wght@100&display=swap');

@font-face { 
    font-family: GT Zirkon; 
    src: url('/src/GT-Zirkon/GT-Zirkon-Ultra-Light-Italic.woff2') format('woff2');
    } 

@font-face { 
    font-family: GT Zirkon2; 
    src: url('/src/GT-Zirkon/GT-Zirkon-Thin.woff2') format('woff2');
} 

.fondoproyect {
    background-color: #afb4b7
    ;
}

.texto {
    font-family: 'GT Zirkon';
    font-weight: bold;
    font-size: 22px;
}

.tipografia {
    font-family: 'GT Zirkon2';
    font-weight: bold;
}

.items {
    font-size: 15px;
    font-family: 'GT Zirkon2';
    font-weight: bold ;
}

.nombre {
    font-family: 'GT Zirkon';
    color: black;
    
}

.img {
    width: 400px;
}



.linkedin {
    color: green;
    font-family: 'GT Zirkon';
    font-weight: bold;
}

.imgfondo {
    background-image: url('/src/components/sobremi/fondo.jpg');
}

.nav {
    font-family: 'GT Zirkon';
}

@media screen and (max-width: 600px) {
    .img {
      width: 250px;
    }
  }